body {
    margin: 0;
    background-image: url("call-me.jpeg"); 
    background-color: antiquewhite;
    background-size: 50%;      
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.backbtn {
    position: absolute;
    left: 10%;
    top: -2%;
    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    appearance: none;        /* removes default styling */
    -webkit-appearance: none;

    cursor: pointer;}
