body {
    margin: 0;
    background-image: url("jar-page-1.png"); 
    background-color: antiquewhite;
    background-size: 90%;      
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.backbtn {
    position: absolute;
    left: 28%;
    top: -2%;
    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    appearance: none;        /* removes default styling */
    -webkit-appearance: none;

    cursor: pointer;}

    .frontbtn {
    position: absolute;
    left: 43%;
    top: 51%;
    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    appearance: none;        /* removes default styling */
    -webkit-appearance: none;

    cursor: pointer;}