body {
    margin: 0;
    height: 100vh;

    background-color: rgb(219, 182, 213);   /* space around image */
    background-image: url("jar-page-2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.backbtn2 {
    position: absolute;
    left: 28%;
    top: -2%;
    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    appearance: none;        /* removes default styling */
    -webkit-appearance: none;

    cursor: pointer;}
