body {
    margin: 0;
    background-image: url("letter1.png"); 
    background-color: antiquewhite;
    background-size: 90%;      
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.backbtn {
    position: absolute;
    left: 0%;
    top: -9%;
    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    appearance: none;        /* removes default styling */
    -webkit-appearance: none;

    cursor: pointer;
}



    
   

